body {
    min-height: 100vh;
    width: 960px;
    margin: 0 auto;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-line,
.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    font-size: 24px;
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.nav-links {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;  
    padding-top: 50px;
    padding-bottom: 80px;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.left-side h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
}

.left-side p {
    padding-right: 5px;
}

.button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 5px;
    margin-top: 4px;
    padding: 8px 25px;
    font-size: 18px;
    font-weight: 400;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a7a8a6ee;
    width: 50%;
    flex-shrink: 0;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


.main {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 80px;
}

.main h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.squares-container, .container-paragraphs {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.square {
    height: 126px;
    width: 126px;
    border-radius: 10px;
    border: solid 2px #3882F6;
}

.container-paragraphs div {
    width: 130px;
}

.container-paragraphs p {
    margin-top: 8px;
}

.testimonial-section {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
}

.testimonial-section div:first-child {
    font-size: 36px;
    font-style: italic;
}

.testimonial-section p {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.testimonial-section div:nth-child(2){
    text-align: right;
    font-weight: 800;
}

.call-to-action-section {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #F9FAF8;
    padding-right: 150px;
    padding-left: 150px;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;

}

.call-to-action-section h5 {
    font-size: 20px;
    margin-bottom: 1px;
    margin-top: 1px;
}

.call-to-action-section p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.call-to-action-section :nth-child(2) {
    align-content: center;
}

.call-to-action-section button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 5px;
    border: solid 2px #F9FAF8;
    padding: 8px 25px;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

